// 颜色
$sky:#35caef;
$pink:deeppink;
$blank:#333333;
$orange:#F65A44;
$lightOrange:#f89432;
$red:red;
$white:#fff;
$green:#82b64a;
$line:#d6d7dc;
$orangeLight:#f89432;
$lighterGrey:#a1a1a1;
$purple:#8c7ee4;
