@import '_resetInner';
@import '_fonts';
@import '_highLight';

a{
  color:#333;
}

// 移动端
@media(max-width:1000px){
  html{
    box-sizing: border-box;
    color: #333;
    line-height: 1.2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
  }
  body{
    font-size: 14px;
  }
  .header_navTop{
    width: 100%;
  }
  .articleMain{
    margin-top: 80px;
    padding:0 20px;
    overflow: hidden;
  }
  main{
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    padding: 0 15px;
    color: deeppink;
    background-color: #F8F8F8;
  }
}

// pc端
@media(min-width:1000px){
  body{
    font-size: 15px;
  }
  .header_navTop{
    width: 40%;
  }
  .articleMain{
    margin-left: 20%;
    margin-top: 80px;
    padding:40px 40px;
  }
  main{
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    padding: 0 20px;
    color: deeppink;
    background-color: #F8F8F8;
  }
}

.header{
  border-bottom: 1px solid #d6d7dc;
  position: fixed;
  width: 100%;
  flex-grow: 0;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 6;
}
