@import '../base/_fonts.scss';
@import '../base/_color.scss';
@import '../base/_mixin.scss';

.caption{
  position: absolute;
  left: 20%;
  top: 0;
  padding-bottom: 200px;
  overflow-y: auto;
  .articalBox{
    .main{
      >a{
        &:hover{
          color: $sky;
          @include transition(all 0.2s ease-in-out);
        }
      }
    }
    .artical{
      margin-left: 8%;
      border: 1px solid $sky;
      .details{
        .category{
          >a{
            &:hover{
              color: $sky;
              @include transition(all 0.2s ease-in-out);
            }
          }
        }
      }
    }
  }
}